.locator p{ font-size: 1em; }

/* Large Style */
.locator_large{
	font-size: 10px !important;
	font-family: Arial;
	color: #58595B;
	}
	.locator_large input[type=button]{
		background-color: #ECE9E5;
		border: 1px solid #D2CFCA;
		color: #929497;
		}

/* Large Form */
.locator_large .locator_form{
	background: #FCFDFB;
	border: 2px solid #E5E6E7;
	margin-left: 10px;
	}
	
	.locator_large .locator_form .locator_logo{
		background-image: url('logo.png');
		}
	.locator_large .locator_form hr{
		border-top: 2px solid #E5E6E7;
		}
	.locator_large .locator_form select,.locator_large .locator_form input[type=text]{
		border: 1px solid #D2CFCA;
		}

/* Large Map */	
.locator_large .locator_map{
	background: #FCFDFB;
	border: 2px solid #E5E6E7;
	margin-right: 10px;
	}
	
/* Large Results */
	.locator_large .locator_results .locator_locations li{
		border-bottom: 2px solid #E5E6E7;
		}
	.locator_large .locator_results a{
		color: #58595B;
		}
		
		
		
		

/* Medium Style */
.locator_medium{
	font-size: 12px !important;
	font-family: Arial;
	color: #58595B;
	}
	.locator_medium input[type=button]{
		background-color: #ECE9E5;
		border: 1px solid #D2CFCA;
		color: #929497;
		}

/* Medium Form */
.locator_medium .locator_form{
	background: #FCFDFB;
	border: 2px solid #E5E6E7;
	}
	
	.locator_medium .locator_form .locator_logo{
		background-image: url('logo.png');
		}
	.locator_medium .locator_form hr{
		border-top: 2px solid #E5E6E7;
		}
	.locator_medium .locator_form select,.locator_medium .locator_form input[type=text]{
		border: 1px solid #D2CFCA;
		}

/* Medium Map */	
.locator_medium .locator_map{
	background: #FCFDFB;
	border: 2px solid #E5E6E7;
	}		
	
/* Medium Results */
	.locator_medium .locator_results .locator_locations li{
		border-bottom: 2px solid #E5E6E7;
		}
	.locator_medium .locator_results a{
		color: #58595B;
		}
		
		
		
		
		
/* Small Style */
.locator_small{
	font-size: 12px !important;
	font-family: Arial;
	color: #58595B;
	}
	.locator_small input[type=button]{
		background-color: #ECE9E5;
		border: 1px solid #D2CFCA;
		color: #929497;
		}

/* Small Form */
.locator_small .locator_form{}
	
	.locator_small .locator_form hr{
		border-top: 2px solid #E5E6E7;
		}
	.locator_small .locator_form select,.locator_small .locator_form input[type=text]{
		border: 1px solid #D2CFCA;
		}

/* Small Map */	
.locator_small .locator_map{
	background: #FCFDFB;
	border: 2px solid #E5E6E7;
	}		
	
/* Small Results */
	.locator_small .locator_results .locator_locations li{
		border-bottom: 2px solid #E5E6E7;
		}
	.locator_small .locator_results a{
		color: #58595B;
		}
		
/* Small Navigation */
.locator_small .locator_navigation{
	background-color: #ECE9E5;
	border-top: 1px solid #D2CFCA;
	}
	.locator_small .locator_navigation ul li a{
		border-left: 1px solid #D2CFCA;
		background-image: url('mobile_navigation.png');
		}
	.locator_small .locator_navigation ul li a.locator_nav_back{
		background-position: center 6px;
		}
	.locator_small .locator_navigation ul li a.locator_nav_home{
		background-position: center -95px;
		}
	.locator_small .locator_navigation ul li a.locator_nav_search{
		background-position: center -196px;
		}
	.locator_small .locator_navigation ul li a.locator_nav_map{
		background-position: center -296px;
		}
	.locator_small .locator_navigation ul li a.locator_nav_results{
		background-position: center -391px;
		}
		
		
		
		
		
/* Widget Style */
.locator_widget{
	font-size: 10px !important;
	font-family: Arial;
	color: #58595B;
	}
	.locator_widget input[type=button]{
		background-color: #ECE9E5;
		border: 1px solid #D2CFCA;
		color: #929497;
		}
.locator_widget .locator_search_header, .locator_widget .locator_results_header{
	background-color: #ECE9E5;
	border: 1px solid #D2CFCA;
	color: #929497;
	}	
	.locator_widget .locator_results_header a.locator_header_search{
		border-left: 1px solid #D2CFCA;
		background-image: url('widget_search.png');
		background-position: center center;
		}

/* Widget Form */
.locator_widget .locator_form{
	background: #FCFDFB;
	border: 1px solid #D2CFCA;
	}
	
	.locator_widget .locator_form .locator_logo{
		background-image: url('logo.png');
		}
	.locator_widget .locator_form hr{
		border-top: 2px solid #E5E6E7;
		}
	.locator_widget .locator_form select,.locator_widget .locator_form input[type=text]{
		border: 1px solid #D2CFCA;
		}

/* Widget Map */	
.locator_widget .locator_map{
	background: #FCFDFB;
	border: 1px solid #D2CFCA;
	}		
	
/* Widget Results */
.locator_widget .locator_results{
	background: #FCFDFB;
	border: 1px solid #D2CFCA;
	}
	.locator_widget .locator_results .locator_locations li{
		}
	.locator_widget .locator_results a{
		color: #58595B;
		}
		
		
		
		
		
		
		
/* Narrow Style */
.locator_narrow{
	font-size: 10px !important;
	font-family: Arial;
	color: #58595B;
	}
	.locator_narrow input[type=button]{
		background-color: #ECE9E5;
		border: 1px solid #D2CFCA;
		color: #929497;
		}
.locator_narrow .locator_search_header, .locator_narrow .locator_results_header{
	background-color: #ECE9E5;
	border: 1px solid #D2CFCA;
	color: #929497;
	}	
	.locator_narrow .locator_results_header a.locator_header_search{
		border-left: 1px solid #D2CFCA;
		background-image: url('widget_search.png');
		background-position: center center;
		}

/* Narrow Form */
.locator_narrow .locator_form{
	background: #FCFDFB;
	border: 1px solid #D2CFCA;
	}
	
	.locator_narrow .locator_form .locator_logo{
		background-image: url('logo.png');
		}
	.locator_narrow .locator_form hr{
		border-top: 2px solid #E5E6E7;
		}
	.locator_narrow .locator_form select,.locator_narrow .locator_form input[type=text]{
		border: 1px solid #D2CFCA;
		}

/* Narrow Map */	
.locator_narrow .locator_map{
	background: #FCFDFB;
	border: 1px solid #D2CFCA;
	}		
	
/* Narrow Results */
.locator_narrow .locator_results{
	background: #FCFDFB;
	border: 1px solid #D2CFCA;
	}
	.locator_narrow .locator_results .locator_locations li{
		}
	.locator_narrow .locator_results a{
		color: #58595B;
		}
		
/* Narrow Navigation */
.locator_narrow .locator_navigation{
	background-color: #ECE9E5;
	border: 1px solid #D2CFCA;
	border-top: none;
	}
	.locator_narrow .locator_navigation ul li a{
		border-left: 1px solid #D2CFCA;
		background-image: url('mobile_navigation.png');
		}
	.locator_narrow .locator_navigation ul li a.locator_nav_back{
		background-position: center 6px;
		}
	.locator_narrow .locator_navigation ul li a.locator_nav_home{
		background-position: center -95px;
		}
	.locator_narrow .locator_navigation ul li a.locator_nav_search{
		background-position: center -196px;
		}
	.locator_narrow .locator_navigation ul li a.locator_nav_map{
		background-position: center -296px;
		}
	.locator_narrow .locator_navigation ul li a.locator_nav_results{
		background-position: center -391px;
		}
